* {
  box-sizing: border-box;
  margin:0;
}

/* 전체 Body Style */
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    -webkit-touch-callout: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}



/* 카카오맵 Style */
#map_id {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100vh;
    background: url("https://t1.daumcdn.net/mapjsapi/images/bg_tile.png");
}




/* 검색창 Style */
.all_wrapper {padding: 20px; font-family: "Malgun Gothic", dotum, '돋움', sans-serif;}
.search_box {position: relative; width: 330px; height: 36px; padding: 2px; overflow-y: auto; background-color: rgba(255,255,255,0.8); z-index: 98; border-radius: 10px; box-shadow: 0 2px 2px rgba(0,0,0,0.3);}
.search_form {padding: 2px 10px; width: 100%; height: 30px; overflow:hidden;}
.search_form #keyword {width:calc(100% - 40px); height: 100%; font-size: 0.95rem; border-color: rgba(0,0,0,0); background-color: rgba(0,0,0,0); float: left;}
.search_form .search_icon {display: block; width:28px; height:28px; margin:0px 4px; background: url("/image/search-icon.png") no-repeat; background-size: 28px; border-radius: 8px; float: right;}
.search_form .search_icon:active {background-color:rgba(0,0,0,0.1);}


/* 검색창 아래 아이콘 Style */
.wrapper {position: relative; width:162px;}
.wrapper, .wrapper * {margin:0; padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}

#category {position: relative;top:15px;left:0;border-radius: 10px; border:1px solid rgba(0, 0, 0, 0);box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);background: rgba(255, 255, 255, 0.8); overflow: hidden;z-index: 99; margin-bottom: 10px;}

#category li {font-weight: 600; font-size: 12px; color:rgba(0, 0, 0, 0.7); margin-top:0;float:left;list-style: none;width:80px;border-right:1px solid #acacac;padding:6px 0px 6px 0px;text-align: center; cursor: pointer;}
#category li:hover, #category li:hover {background: rgba(0, 0, 0, 0.1)}
#category li span {display: block;margin:0 auto 3px;width:25px;height: 30px;}
#category li .category_hos { background:url(/image/location_off.png) no-repeat; background-size: 30px; margin-bottom: 6px;}
#category li .gps { background:url(/image/location_on.png) no-repeat; background-size: 25px; margin-bottom: 6px;}



/* 현재 위치 pulse Style */
.pulse img{ margin: 0px;padding: 0px;  border: 0px solid transparent; display: block; user-select: none;  -webkit-user-drag: none;  box-sizing: content-box !important; max-width: none !important;max-height: none !important;min-width: 0px !important; min-height: 0px !important; position: absolute; cursor: pointer; width: 22px; height: 22px;left: 0px;top: 0px;}
.pulse {z-index: 100;display: block;width: 22px;height: 22px;border-radius: 50%;background: #ffffff00;cursor: pointer;box-shadow: 0 0 0 rgb(255, 0, 0);animation: pulse 1.7s infinite;}
@-webkit-keyframes pulse {
    0% {-webkit-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.5);}
    70% {-webkit-box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);}
    100% {-webkit-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);}
}
@keyframes pulse {
    0% {-moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.5);
        box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);}
    70% {-moz-box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
        box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);}
    100% {-moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);}
}



/*
.gps_wrapper{margin:0; padding: 0; position: relative; z-index: 1; width:52px;}
.gps_wrapper, .gps_wrapper * {margin:0; padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
*/

/* 화면 전환 시 - menu_wrap 이외에 나머지는 초기 뜨는 화면 조정 관련 */
@media screen and (max-width: 750px) {
    .search_box{width:100% !important}
    .new_frame #inner_frame{width:100% !important; height:75% !important;left:0% !important;}
    
    .legend img{width:100%;}
    #menu_wrap{width:100%}
    .modal-dialog{width:90% !important; padding-top: 10%;}
    .modal-title{font-size:15px;}
    .modal-body{font-size:13px;}
    .feedback{font-size: 12px;}
    .makerinfo{font-size: 11px;}
    
}



/* 커스텀 오버레이 관련 Style */
.overlay_info {border-radius: 6px; margin-bottom: 12px; float:left;position: relative; background-color:#fff; z-index:2;border:0; box-shadow: 0px 3px 10px #888; min-width:140px;text-align:center;}
.overlay_info #store_name {width:calc(100% - 37px); height: 37px; padding:6px 4px 6px 4px; border-radius: 6px 0px 0px 0px; background: #d95050; float:left;}
.overlay_info a { text-decoration: none; color: #fff; font-size: 14px; }
.overlay_info #overlay_close {color: #fff; width: 37px; height: 37px; background: #d95050 url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png") no-repeat; background-position: center; border-radius: 0px 6px 0px 0px; float:left;}
.overlay_info #overlay_close:hover {cursor: pointer;}
.overlay_info #store_assessment {position: relative; height: 52px; min-width: 140px; overflow: hidden; padding:4px 8px; clear:both;}
.overlay_info #assessment {position: relative; top: -4px; width: max-content; white-space: nowrap; font-size: 12px; color: #333;}
.overlay_info #assessment #tvshow{font-weight: bolder; text-transform: uppercase; color: darkslategrey; font-size:x-small; }
.overlay_info #assessment #type{color: #3d75cc;}
.overlay_info #assessment #star{color: #ff5d5d; font-size: 14px; font-weight: bold;}
.overlay_info:after {content:'';position: absolute; margin-left: -11px; left: 50%; bottom: -12px; width: 22px; height: 12px; background:url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png") no-repeat 0 bottom;}

/* Info window 관련 Style */
.info_window {font-size: 10px; color: #3d75cc; background-color: rgba(255,255,255,0.8); padding: 2px; z-index:1; border-radius: 10px}
.info_window #star {font-size: 12px; color: #ff5d5d;}


/* iframe 관련 Style */
.new_frame {position: absolute; top:0px; left:0px; width:100%; height:100vh; background-color:rgba(0,0,0,0.4); z-index:-10; display:none; opacity:0; transition:opacity 0.3s linear 1s;}
.new_frame.frame_on {z-index:110; display:block; opacity:1.0; transition:opacity 0.3s linear 1s;}
.new_frame #inner_frame {position:absolute; top:10%; left:15%; width:70%; height:85%; border:none;background-color:rgba(255,255,255,0.8);}
